<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="./assets/social/facebook.png" alt="">
                <img src="./assets/social/instagram.png" alt="">
                <img src="./assets/social/twitterone.png" alt="">
                <img src="./assets/social/whatapp.png" alt="">
                <img src="./assets/social/youtube.png" alt="">
            </div>
            <p style="color: white;">All rights Reserved @2022 <span style="color: brown;">myGit-Search</span></p>
        </div>
    </div>
</div>
