.footer{
    text-align: center;
    background-color: rgb(136, 130, 130);
    border-radius: 80%;
}
.footer img{
    margin-top: 1%;
    margin-left: 0.6%;
    height: 26px;
    width: 26px;
    border: 1.5px solid white;
    border-radius: 50%;
}