@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Inspiration&family=Manrope:wght@600&family=Rubik+Moonrocks&family=Source+Serif+Pro&display=swap');
.container-fluid{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgb(0,0,0,0.5)),url('/assets/background/background.jpg');
    color: white;
}
img{
    margin-top: 3%;
    border: 2px solid rgb(134, 172, 65);
    border-radius: 50%;
}
a{
    border-radius: 70%;
    color: aqua;
}
h4{
    font-family: 'Rubik Moonrocks', cursive;
}
.d-flex{
    margin-top: 2%;
    margin-left: 35%;
    width: 60vh;
    margin-bottom: 2%;
}