@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Inspiration&family=Manrope:wght@600&family=Rubik+Moonrocks&family=Source+Serif+Pro&display=swap');
.bodyone{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgb(0,0,0,0.5)),url('/assets/background/backgit.jpg');background-image: linear-gradient(rgba(0,0,0,0.9),rgb(0,0,0,0.5)),url('/assets/background/backgit.jpg');
    background-repeat: no-repeat;
    color: white;
}
.bodytwo{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgb(0,0,0,0.5)),url('/assets/background/background.jpg');
    color: white;
    
}
.navbar{
    margin-top: 1%;
    text-align: center;
    font-family: 'Akronim', cursive;
    margin-bottom: 1%;
    
}
.container-fluid{
    text-align: center;
}
.row{
    text-align: center;
}
img{
    margin-top: 3%;
    border-radius: 60%;
    border: 2px solid goldenrod;
}
h4{
    font-family: 'Rubik Moonrocks', cursive;
}
